.navbar {
    background-color:rgba(231, 87, 87, 0.2);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.menu-bars {
   padding-top: 10px;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-image: linear-gradient(to bottom right, #e49a39, rgba(231, 87, 87));
    width:250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: -250px;
    transition: 850ms;
}

.nav-menu.active {
    left: 0px;
    transition: 850ms;
}

/* .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px, 0px 8px 16px;
    height: 60px;
} */

/* .nav-text * {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
} */

.nav-text a:hover {
    background-color: rgb(35, 137, 184);
}

.nav-menu-items {
    width: 100%;
    list-style-type: none;

}


.navbar-toggle {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background: #e49a39;
    width: 1px;
    height: 1px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    
}
.annoyed {
    padding-top: 15px;
}
span {
    margin-left: 16px
}