.profile-dropdown {
  position: absolute;
}

#top-nav-bar {
  background: rgba(231, 87, 87, 0.3);
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

#profile-button {
  margin-right: 20px;
  margin-left: 20px;
}

#profile-list {
  margin: 0, 35, 0, 0;
  list-style-type: none;
  
}

#home-profile-button {
  width: 50px;
  justify-content: space-between;
}

#overflow {
  overflow: auto;
}